example/
e2e-tests/
docs/
scripts/
.tmp/
.github/
lib/typescript/example/
**/__tests__
**/__fixtures__
**/__mocks__

android/src/androidTest/
android/src/test/
android/build/
android/bin/

ios/Tests/

yarn-error.log
CODEOWNERS
CONTRIBUTING.md
babel.config.js
tsconfig.json
yarn.lock
