example/
e2e/
docs/
scripts/
.tmp/
.github/
lib/typescript/example/
**/__tests__
**/__fixtures__
**/__mocks__

android/src/androidTest/
android/src/test/
android/build/

wdio.conf.js
yarn-error.log
wdio.ios.js
wdio.android.js
run-appium-tests.js
CODEOWNERS
CONTRIBUTING.md
appium.log
babel.config.js
tsconfig.json
yarn.lock
