<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativestripesdk">

    <application>
        <activity
            android:name=".CustomPaymentMethodActivity"
            android:theme="@style/Theme.StripeReactNative.Transparent"
            android:exported="false"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <!-- Interceptor for stripe-connect:// deep links -->
        <activity
            android:name=".StripeConnectDeepLinkInterceptorActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="stripe-connect"/>
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.stripe.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
